<h1>Aqui crearas post</h1>
<form action="/posts/create_post/post_created" method="post">
  <p>Title:</p>
  <input type="text" size="70" name="title" placeholder="Titulo del post">
  <p>Tags(separalos por espacios):</p>
  <input type="text" size="70" name="tags" placeholder="Escribe tags">
  <p>Description:</p>
  <textarea cols="70" rows="10" name="description" placeholder="Escribe una descripcion"></textarea>
  <input type="submit">
</form>