  <h1>Bienvenido al Blog Super Anònimo!</h1>

  <h3>Ingresa en donde quieres realizar acciones</h3>

  <a href="/posts"><button>Acciones para Posts</button></a>
  <a href="/tags"><button>Acciones para Tags</button></a>
