  <h1>Bienvenido a las acciones de Posts!</h1>

  <h3>Selecciona La accion que desea realizar</h3>
  <a href="/posts/show_all"><p>1.- Mostrar todos los posts</p></a>
  <a href="/posts/show_one"><p>2.- Mostrar un post determinado</p></a>
  <a href="/posts/create_post"><p>3.- Crear un post</p></a>
  <a href="/posts/edit_post"><p>4.- Editar un post</p></a>
  <a href="/posts/delete_post"><p>5.- Borrar post</p></a>


