<h1>Bienvenido a las acciones de Tags!</h1>
  <h3>Ingresa el nombre del tag para encontrarte todos los post</h3>
<form action='/tags/tag_name' method="post">
  <input type="text" name="tag_name">
  <input type="submit">
</form>

