<h1>Aqui mostrare todos los posts</h1>

<% @all_posts.each_with_index do |t, i| %>
  <% posts = Post.find_by(id: t.id).tags %>
  <h4><%= "#{i+1}.-"%>Title:</h4>
  <p> <%= t.title %> </p>
  <h4>Tags:</h4>
  <% posts.each do |t| %> 
  <p><%= "#{t.label}" %></p>
  <% end %>
  <h4>Description:</h4>
  <p> <%= t.description %> </p>
<% end %>
